// Default Font
$baseFontSize = 15px;
f-default()
    font normal 400 $baseFontSize/1.4 Verdana, Arial, 'Verdana Ruble', sans-serif;

// Ruble Simbol Font
// &#x20BD; or (RightALT+8 RU Windows)
//@font-face
//    font-family: 'PT Sans Ruble'
//    src: url($pathroot+'fonts/ruble/PTSansRubleRegular.woff') format('woff'), url($pathroot+'fonts/ruble/PTSansRubleRegular.ttf') format('truetype')
//    font-weight: 400
//    font-style: normal;

@font-face
    font-family: 'Verdana Ruble'
    src: url('../fonts/ruble/VerdanaRuble.woff') format('woff'), url('../fonts/ruble/VerdanaRuble.ttf') format('truetype')
    font-weight: 400
    font-style: normal;