.appNotes
    &_title
        font-weight 400
        text-align center
    &_space
        max-width 600px
        width 100%
        padding 20px
        margin 0 auto
        background-color #ececec
        display flex
        flex-wrap wrap
        justify-content space-between
        textarea
            flex 0 0 100%
            max-width 100%
            background-color transparent
            border none
            resize none
            height 120px
            outline none
            margin-bottom 15px
    &_add
        width 100px
        background-color #44c767
        border 1px solid #18ab29
        text-transform uppercase
        text-shadow 0 1px 0 #2f6627
        color #fff
        font-size 14px
        padding 8px
        border-radius 50px
        outline none
        transition box-shadow .2s
        user-select none
        &:hover
            box-shadow inset -1px 1px 2px rgba(0,0,0,.3)
        &:active
            transform translate(1px, 1px)
    &_container
        max-width 800px
        width 100%
        margin 15px auto
    &_row
        display flex
        flex-wrap wrap
        margin 0 -15px
        position relative
    &_i
        flex 0 0 33.333333%
        max-width 33.333333%
        padding 0 15px
        position absolute
        top 0
        left 0
        transition transform .5s ease
    &_note
        padding 10px
        line-height 1
        font-size 16px
        background-color #ececec
        border-radius 10px
        position relative
        transition box-shadow .4s ease, transform .4s ease
        padding-right 30px
        margin 10px 0
        min-height 100px
        &:hover
            transform translate(0, -1px)
            box-shadow 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
        &_text
            text-overflow ellipsis
    &_color
        display flex
        align-items center
        margin 0 -8px
        &_i
            padding 0 8px
            flex 1 1 0
            max-width 100%
            input
                display none
                &:checked
                    & + label
                        &:before
                            content '\2714'
                            position absolute
                            display block
                            left 50%
                            top 50%
                            line-height 1
                            font-size 13px
                            transform translate(-50%, -50%)
                            opacity .5
            label
                cursor pointer
                display block
                width 20px
                height @width
                border-radius 50%
                position relative
    &_options
        line-height 1
        position absolute
        right 3px
        top 7px
        border none
        font-size 14px
        width 20px
        height @width
        user-select none
        outline none
        background-color transparent
        &:before
            content ''
            position absolute
            top 50%
            left 50%
            transform translate(-50%,-50%)
            display block
            width 3px
            height @width
            border-radius 50%
            background-color #4a4a4a
            box-shadow 0 5px 0 #4a4a4a,
                0 -5px 0 #4a4a4a
        &:active
            transform translate(1px, 1px)
        &_menu
            position absolute
            top 10px
            right 30px
            background-color #ffffff
            font-size .7em
            box-shadow 0 4px 10px 0 rgba(#000,.3)
            padding 5px
            border-radius 5px
            opacity 0
            visibility hidden
            transform translate(0, 10%)
            transition transform .3s, opacity .3s, visibility .3s
            &-open
                opacity 1
                visibility visible
                transform translate(0, 0)
            ul
                margin 0
                padding 0
                list-style none
            li
                padding 5px 10px
                border-radius 3px
                cursor pointer
                transition background-color .3s
                &:hover
                    background-color #eee