.contacts
    width 300px
    &-list 
        padding 0
        width 100%
        list-style none

.contact
    cursor pointer
    user-select none

    &-row
        display flex
        align-items center
        font-family sans-serif
        width 100%
        padding 5px
        border-bottom 1px dotted grey

    &-image
        border-radius 50%
        margin 5px
        object-fit cover

    &-name
        font-size 20px
        font-weight bold

    &-number
        font-size 18px
        color grey

.search-field
    width 100%
    padding 10px
    font-size 16px
